<html>
    <head>
        <title>쟝고 블러그 예아</title>
    </head>
    <body>
        <div>
            <h1><a href="">쟝고 걸스 예예</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>게시일: 14.06.2014, 12:14</p>
            <p>어쩌구 저쩌구...Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>

            <h2><a href="">My second post</a></h2>
            <p>게시일: 14.06.2014, 12:14</p>
            <p>중얼중얼..Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>